In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/gene_info", sep="\t")

C:\Users\gabriel\AppData\Local\Temp\ipykernel_25108\3644190380.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("gene_info", sep="\t")

In [9]:
df.describe()

            #tax_id        GeneID  Modification_date
count  3.655164e+07  3.655164e+07       3.655164e+07
mean   3.462622e+05  8.444152e+07       2.020174e+07
std    5.853936e+05  3.875042e+07       1.672508e+04
min    7.000000e+00  1.000000e+00       2.006031e+07
25%    9.597000e+03  5.662551e+07       2.020010e+07
50%    6.804200e+04  1.051073e+08       2.021032e+07
75%    3.811980e+05  1.151368e+08       2.021102e+07
max    2.914709e+06  1.244169e+08       2.022022e+07

In [6]:
len(df)

36551637

In [19]:
df.head(5)

,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
0,7,5692769,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20210407,-
1,9,2827857,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20160921,-
2,11,10823747,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20190325,-
3,14,6951813,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20211023,-
4,19,3758873,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20210215,-

In [14]:
type_of_genes = df['type_of_gene'].unique()
type_of_genes

array(['other', 'protein-coding', 'pseudo', 'rRNA', 'tRNA', 'miscRNA',
       'ncRNA', 'unknown', 'snRNA', 'snoRNA', 'scRNA',
       'biological-region'], dtype=object)

In [18]:
value_count_genes = df['type_of_gene'].value_counts()
value_count_genes

protein-coding       30142041
ncRNA                 2314143
pseudo                1780387
tRNA                  1333433
rRNA                   297066
snoRNA                 288629
snRNA                  241286
other                   78773
unknown                 60416
biological-region        9463
miscRNA                  5979
scRNA                      21
Name: type_of_gene, dtype: int64